html {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  overflow: hidden;
  scroll-behavior: smooth;
}

html,
main,
.sidebar,
.sidebar-header-container,
.sidebar-navigation,
.sidebar-navigation-container,
a,
.upper,
.search,
.header-profile,
.lower,
.greeting,
.header-buttons,
footer {
  display: flex;
}

html,
.sidebar-header-container,
.sidebar-navigation,
a,
.search,
.header-profile,
.greeting,
.header-buttons,
footer {
  align-items: center;
}

html,
.sidebar-header-container,
.sidebar-navigation,
.upper,
.lower {
  justify-content: center;
}

html,
body,
main,
.content,
.content-header,
footer {
  width: 100%;
}

html,
body,
main,
.sidebar {
  height: 100%;
}

html,
body,
main,
h1 {
  margin: 0;
}

html,
body,
main {
  padding: 0;
}

body {
  background-attachment: fixed;
  background-image: radial-gradient(
    circle at center,
    rgba(53, 79, 82, 1),
    rgba(47, 62, 70, 1)
  );
}

body,
.sidebar,
.content-header,
.content-header-buttons {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sidebar {
  border-bottom: none;
  border-left: none;
  border-right-color: rgba(0, 0, 0, 1);
  border-right-style: solid;
  border-right-width: 1px;
  width: 200px;
}

.sidebar,
.sidebar-header-container,
.sidebar-navigation-container,
a {
  gap: 12px;
}

.sidebar,
.content-header,
.search-input,
.content-header-buttons {
  color: rgba(202, 210, 197, 1);
}

.sidebar,
.search-input {
  padding: 16px;
}

.sidebar,
.content-header,
.content-header-buttons {
  background-image: radial-gradient(
    circle at center,
    rgba(82, 121, 111, 1),
    rgba(53, 79, 82, 1)
  );
}

.sidebar,
.sidebar-navigation-container,
.content-header {
  flex-direction: column;
}

.sidebar,
.content-header {
  border-top: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

.dashboard-icon {
  height: 48px;
  width: 48px;
}

.dashboard-icon,
.sidebar-header-text,
.navigation-icon,
.navigation-text,
.header-icon,
.profile-picture,
.profile-name,
.greeting-profile-picture,
.greeting-profile-name,
button {
  cursor: pointer;
}

.dashboard-icon,
.navigation-icon,
.header-icon {
  filter: invert(94%) sepia(8%) saturate(248%) hue-rotate(53deg) brightness(89%)
    contrast(89%);
}

.dashboard-icon,
.sidebar-header-text {
  align-items: flex-start;
  transition: all 1s ease;
}

.dashboard-icon:hover,
.sidebar-header-text:hover {
  transform: scale(1.03);
}

.sidebar-header-text,
.greeting-profile-name {
  font-size: 28px;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
}

.sidebar-header-text,
.navigation-text,
.profile-name,
.greeting-profile-name,
.content-header-buttons {
  font-weight: 900;
}

.sidebar-navigation,
.content-header,
.search-input,
.search-input::placeholder,
.content-header-buttons {
  font-size: 16px;
}

.navigation-icon,
.navigation-text {
  transition: all 0.5s ease;
}

.navigation-icon:hover,
.navigation-text:hover {
  transform: scale(1.05);
}

.navigation-icon {
  height: 24px;
  width: 24px;
}

.navigation-text,
.profile-name {
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.content,
.content-header {
  box-sizing: border-box;
}

.content-header {
  border-bottom-color: rgba(0, 0, 0, 1);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgba(0, 0, 0, 1);
  border-left-style: solid;
  border-left-width: 1px;
  border-right: none;
  height: auto;
  padding: 8px;
}

.content-header,
.greeting {
  gap: 8px;
}

.header-profile,
.header-buttons {
  gap: 12px;
}

.header-icon {
  height: 36px;
  width: 36px;
}

.search-input {
  background-color: transparent;
  border-radius: 50px;
  box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.5);
  width: 1300px;
}

.search-input,
.search-input::placeholder {
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

.search-input::placeholder {
  color: rgba(47, 62, 70, 1);
}

.search-input,
.content-header-buttons {
  border: none;
  outline: none;
}

#notification-icon {
  margin-right: -6px;
}

.profile-picture {
  height: 50px;
  width: 50px;
}

.profile-picture,
.greeting-profile-picture {
  border-radius: 50%;
}

.profile-name {
  font-size: 18px;
}

.lower {
  justify-content: space-between;
}

.greeting-profile-picture {
  height: 75px;
  width: 75px;
}

.greeting-profile-name {
  font-size: 20px;
}

.content-header-buttons {
  background-image: radial-gradient(
    circle at center,
    rgba(82, 121, 111, 1),
    rgba(53, 79, 82, 1)
  );
  border-radius: 20px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
  height: 30px;
  text-align: center;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
  width: 120px;
}

footer {
  bottom: 0;
  left: 0;
  position: fixed;
  justify-content: flex-end;
}

.github-logo {
  height: 24.5px;
  opacity: 7.5%;
  padding-bottom: 6px;
  padding-left: 0px;
  padding-right: 6px;
  padding-top: 0px;
  width: 24px;
}

.colours {
  color: rgba(202, 210, 197, 1);
  color: rgba(132, 169, 140, 1);
  color: rgba(82, 121, 111, 1);
  color: rgba(53, 79, 82, 1);
  color: rgba(47, 62, 70, 1);
}

.colours-svg {
  filter: invert(94%) sepia(8%) saturate(248%) hue-rotate(53deg) brightness(89%)
    contrast(89%);
  filter: invert(71%) sepia(27%) saturate(299%) hue-rotate(81deg)
    brightness(85%) contrast(85%);
  filter: invert(46%) sepia(7%) saturate(1435%) hue-rotate(114deg)
    brightness(91%) contrast(86%);
  filter: invert(26%) sepia(23%) saturate(496%) hue-rotate(138deg)
    brightness(99%) contrast(94%);
  filter: invert(21%) sepia(15%) saturate(732%) hue-rotate(157deg)
    brightness(94%) contrast(91%);
}
