html {
  scroll-behavior: smooth;
}

html,
main,
.sidebar,
.sidebar-header-container,
.sidebar-navigation,
.sidebar-navigation-container,
a,
.upper,
.search,
.header-profile,
.lower,
.greeting,
.the-odin-project,
.header-buttons,
.projects-and-panels,
.projects-and-panels-container,
.projects,
.project,
.project-header,
.project-screenshot-container,
.project-buttons,
.panels,
footer {
  display: flex;
}

html,
.sidebar-header-container,
.sidebar-navigation,
a,
.search,
.header-profile,
.greeting,
.the-odin-project,
.header-buttons,
.project-header,
.project-buttons,
footer {
  align-items: center;
}

html,
.sidebar-header-container,
.sidebar-navigation,
.upper,
.lower,
.projects-and-panels-container,
.project-screenshot-container {
  justify-content: center;
}

html,
body,
main,
.content,
.content-header,
footer {
  width: 100%;
}

html,
body,
main {
  height: 100%;
}

html,
body,
main,
h1 {
  margin: 0;
}

html,
body,
main {
  padding: 0;
}

html,
button {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
  background-attachment: fixed;
  background-image: radial-gradient(
    circle at center,
    rgba(53, 79, 82, 1),
    rgba(47, 62, 70, 1)
  );
  display: grid;
  min-height: 100vh;
  min-width: 100vh;
}

body,
.sidebar,
.content-header,
.content-header-buttons,
.project,
.panel {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sidebar {
  border-bottom: none;
  border-left: none;
  border-right-color: rgba(0, 0, 0, 1);
  border-right-style: solid;
  border-right-width: 1px;
  position: relative;
  width: 200px;
}

.sidebar,
.sidebar-header-container,
.sidebar-navigation-container,
a,
.header-profile,
.header-buttons {
  gap: 12px;
}

.sidebar,
.content-header,
.search-input,
.content-header-buttons,
.project-header-text,
.project-header-title-text {
  color: rgba(202, 210, 197, 1);
}

.sidebar,
.search-input,
.projects-and-panels {
  padding: 16px;
}

.sidebar,
.content-header,
.content-header-buttons,
.project,
.panel {
  background-image: radial-gradient(
    circle at center,
    rgba(82, 121, 111, 1),
    rgba(53, 79, 82, 1)
  );
}

.sidebar,
.sidebar-navigation-container,
.content-header,
.the-odin-project,
.projects-and-panels,
.project,
.project-screenshot-container,
.panels {
  flex-direction: column;
}

.sidebar,
.content-header {
  border-top: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

.dashboard-icon {
  height: 48px;
  width: 48px;
}

.dashboard-icon,
.sidebar-header-text,
.navigation-icon,
.navigation-text,
.header-icon,
.profile-picture,
.profile-name,
.greeting-profile-picture,
.greeting-profile-name,
.the-odin-project-logo,
.the-odin-project-header-text,
button {
  cursor: pointer;
}

.dashboard-icon,
.navigation-icon,
.header-icon,
.github-logo-button,
.live-demo-button,
.the-odin-project-logo-button {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7498%)
    hue-rotate(112deg) brightness(106%) contrast(102%);
}

.dashboard-icon,
.sidebar-header-text {
  align-items: flex-start;
  transition: all 1s ease;
}

.dashboard-icon:hover,
.sidebar-header-text:hover {
  transform: scale(1.03);
}

.sidebar-header-text,
.greeting-profile-name,
.the-odin-project-header-text,
.project-header-text {
  font-size: 28px;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 1);
}

.sidebar-header-text,
.navigation-text,
.profile-name,
.greeting-profile-name,
.content-header-buttons,
.project-header-title-text {
  font-weight: 900;
}

.sidebar-navigation,
.content-header,
.search-input,
.search-input::placeholder,
.content-header-buttons,
.project-header-title-text {
  font-size: 16px;
}

.navigation-icon,
.the-odin-project-logo-button,
.live-demo-button,
.github-logo-button,
.github-logo {
  height: 24px;
}

.navigation-icon,
.navigation-text {
  transition: all 0.5s ease;
}

.navigation-icon:hover,
.navigation-text:hover {
  transform: scale(1.05);
}

.navigation-text,
.profile-name,
.project-header-title-text {
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
}

.content,
.content-header {
  box-sizing: border-box;
}

.content-header {
  border-bottom-color: rgba(0, 0, 0, 1);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgba(0, 0, 0, 1);
  border-left-style: solid;
  border-left-width: 1px;
  border-right: none;
}

.content-header,
.greeting,
.project,
.project-screenshot-container {
  gap: 8px;
}

.content-header,
.project {
  padding: 8px;
}

.header-icon {
  height: 36px;
  width: 36px;
}

.search-input {
  background-color: transparent;
  border-radius: 50px;
  box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 1);
  width: 1300px;
}

.search-input,
.search-input::placeholder {
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

.search-input::placeholder {
  color: rgba(47, 62, 70, 1);
}

.search-input,
.content-header-buttons {
  border: none;
  outline: none;
}

#notification-icon {
  margin-right: -6px;
}

.profile-picture {
  height: 50px;
  width: 50px;
}

.profile-picture,
.greeting-profile-picture {
  border-radius: 50%;
}

.profile-name {
  font-size: 18px;
}

.lower {
  justify-content: space-between;
}

.greeting-profile-picture {
  height: 75px;
  width: 75px;
}

.greeting-profile-name,
.project-header-text {
  font-size: 20px;
}

.the-odin-project {
  padding-top: 8px;
}

.the-odin-project,
.content-header-buttons {
  text-align: center;
}

.the-odin-project-logo {
  height: 44px;
  width: 60px;
}

.content-header-buttons {
  border-radius: 20px;
  height: 30px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
  width: 120px;
}

.content-header-buttons,
.project-screenshot {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
}

.projects-and-panels,
.projects-and-panels-container,
.projects,
.panels {
  gap: 16px;
}

.projects {
  flex-wrap: wrap;
}

.project {
  box-shadow: inset 2px 0px 0px rgba(202, 210, 197, 1),
    inset 4px 0px 0px rgba(132, 169, 140, 1),
    inset 6px 0px 0px rgba(82, 121, 111, 1),
    inset -2px 0px 0px rgba(202, 210, 197, 1),
    inset -4px 0px 0px rgba(132, 169, 140, 1),
    inset -6px 0px 0px rgba(82, 121, 111, 1), 0px 4px 4px rgba(0, 0, 0, 0.5);
  height: 420px;
  width: 580px;
}

.project,
.panel {
  border-radius: 10px;
}

.project-header-logo {
  height: 22px;
  width: 30px;
}

.project-header-text {
  align-self: flex-start;
}

.project-screenshot {
  align-self: center;
  border-radius: 15px;
  height: 352px;
  width: 550px;
}

.project-buttons {
  gap: 2px;
  padding-right: 16px;
}

.project-buttons,
footer {
  justify-content: flex-end;
}

.the-odin-project-logo-button {
  width: 17.6px;
  margin-right: -2px;
}
.the-odin-project-logo-button .live-demo-button {
  width: 24px;
}

.github-logo-button,
.github-logo {
  width: 24.5px;
}

.panel {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  height: 662px;
  width: 409px;
}

footer {
  bottom: 0;
  left: 0;
  position: fixed;
}

.github-logo {
  opacity: 7.5%;
  padding-bottom: 6px;
  padding-left: 0px;
  padding-right: 6px;
  padding-top: 0px;
}

.colours {
  color: rgba(202, 210, 197, 1);
  color: rgba(132, 169, 140, 1);
  color: rgba(82, 121, 111, 1);
  color: rgba(53, 79, 82, 1);
  color: rgba(47, 62, 70, 1);
}

.colours-svg {
  filter: invert(94%) sepia(8%) saturate(248%) hue-rotate(53deg) brightness(89%)
    contrast(89%);
  filter: invert(71%) sepia(27%) saturate(299%) hue-rotate(81deg)
    brightness(85%) contrast(85%);
  filter: invert(46%) sepia(7%) saturate(1435%) hue-rotate(114deg)
    brightness(91%) contrast(86%);
  filter: invert(26%) sepia(23%) saturate(496%) hue-rotate(138deg)
    brightness(99%) contrast(94%);
  filter: invert(21%) sepia(15%) saturate(732%) hue-rotate(157deg)
    brightness(94%) contrast(91%);
}
