html {
  color: rgba(255, 255, 255, 1);
  scroll-behavior: smooth;
}

html,
.sidebar,
footer {
  display: flex;
}

html,
.sidebar,
footer {
  align-items: center;
}

html,
footer {
  justify-content: center;
}

html,
body,
h1,
main {
  margin: 0;
}

html,
body,
main {
  padding: 0;
}

html,
body,
main {
  height: 100%;
}

html,
body,
main footer {
  width: 100%;
}

body {
  background-image: radial-gradient(
    circle at center,
    #1e293b,
    #020617
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  grid-template-columns: 1fr 6fr;
}

.sidebar {
  background-image: radial-gradient(
    circle at center,
    #334155,
    #1e293b
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  gap: 32px;
  grid-column: 1 / 2;
  padding: 16px;
}

a img{
  display: flex;
  justify-content: center;
  align-items: center;
  filter: invert(100%);
  height: 40%;
  width: 40%;
}

.home,
.profile,
.messages,
.history,
.tasks,
.communities,
.settings,
.support,
.privacy {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  display: flex;
  flex-direction: row;
}

.sidebar-header-text {
  text-align: center;
}

.navigation {
  display: grid;
  gap: 0px;
  grid-auto-flow: dense;
  text-align: center;
}

footer {
  bottom: 0;
  left: 0;
  position: fixed;
  justify-content: flex-end;
}

#github-logo {
  filter: invert(100%);
  height: 1.25%;
  opacity: 7%;
  padding-bottom: 3px;
  padding-left: 0px;
  padding-right: 3px;
  padding-top: 0px;
  width: 1.25%;
}

#colors {
  color: #f8fafc;
  color: #f1f5f9;
  color: #e2e8f0;
  color: #cbd5e1;
  color: #94a3b8;
  color: #64748b;
  color: #475569;
  color: #334155;
  color: #1e293b;
  color: #020617;
}
